<div ng-show="friend_modal" class="map-modal" style="z-index:999;">
        <div class="map-modal-header" ng-show="user_p.length > 0">
            <h4 class="map-modal-title text-uppercase text-info text-center">Ils veulent vous suivre</h4>
        </div>
        <ul class="list-unstyled mt-3 friends-list-add" ng-show="user_p.length > 0">
            <li class="media mb-2" ng-repeat="item in user_p">
                <img class="d-flex mr-4 avatar rounded-circle" src="{{item.picture.data.url}}" alt="Louisette Dupont">
                <div class="media-body pt-3">
                    <h5 class="mt-0 mb-1">{{item.name}}</h5>
                </div>
                <div class="d-flex ml-3">
                    <a href="#" class="btn btn-outline-success btn-round mt-2" ng-click="validate_request(item.id)"><i class="fa fa-check"></i> <span>Accepter</span></a>
                </div>
            </li>
        </ul>
      
        <div class="map-modal-header" ng-show="user_r.length > 0">
            <h4 class="map-modal-title text-uppercase text-info text-center">Ils n'ont pas encore répondu</h4>
        </div>
        <ul class="list-unstyled mt-3 friends-list-add" ng-show="user_r.length > 0">
            <li class="media mb-2" ng-repeat="item in user_r">
                <img class="d-flex mr-4 avatar rounded-circle" src="{{item.picture.data.url}}" alt="Louisette Dupont">
                <div class="media-body pt-3">
                    <h5 class="mt-0 mb-1">{{item.name}}</h5>
                </div>
                <div class="d-flex ml-3">
                    <a href="#" class="btn btn-outline-success btn-round mt-2" ng-click="delete_request(item.id)"><i class="fa fa-remove"></i> <span>Retirer</span></a>
                </div>
            </li>
        </ul>
      
        <div class="map-modal-header" ng-show="user_f.length > 0">
            <h4 class="map-modal-title text-uppercase text-info text-center">Vous êtes déjà amis</h4>
        </div>
        <ul class="list-unstyled mt-3 friends-list-add" ng-show="user_f.length > 0">
            <li class="media mb-2" ng-repeat="item in user_f">
                <img class="d-flex mr-4 avatar rounded-circle" src="{{item.picture.data.url}}" alt="Louisette Dupont">
                <div class="media-body pt-3">
                    <h5 class="mt-0 mb-1">{{item.name}}</h5>
                </div>
                <div class="d-flex ml-3">
                    <a href="/user/profil/{{item.id}}" class="btn btn-outline-success btn-round mt-2"><i class="fa fa-user"></i> <span>Voir Profil</span></a>
                </div>
            </li>
        </ul>
      
        <div class="map-modal-header">
            <h4 class="map-modal-title text-uppercase text-info text-center">Ils sont aussi sur Globetipser</h4>
        </div>
        <ul class="list-unstyled mt-3 friends-list-add">
            <li class="media mb-2" ng-repeat="item in user_o">
                <img class="d-flex mr-4 avatar rounded-circle" src="{{item.picture.data.url}}" alt="Louisette Dupont">
                <div class="media-body pt-3">
                    <h5 class="mt-0 mb-1">{{item.name}}</h5>
                </div>
                <div class="d-flex col-auto ml-3">
                    <a href="#" class="btn btn-outline-success btn-round mt-2" ng-click="send_request(item.id)"><i class="fa fa-user-plus"></i> <span>Ajouter</span></a>
                </div>
            </li>
        </ul>
    </div>