<nav class="navbar navbar-dark navbar-expand bg-primary fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" data-toggle="menu"><i class="fa fa-bars fa-lg"></i></a>

        <ul class="navbar-nav ml-auto" ng-if="loggedin">
            <li class="nav-item mr-4">
                <a class="nav-link text-white" href="#" data-toggle="search" ng-click="toogle_search()">
                    <i class="fa fa-search fa-lg"></i>
                </a>
            </li>
            <li ng-show="is_on_user" class="nav-item mr-4">
                <a class="nav-link p-0 pt-1" href="#" id="show-friends" ng-click="friending()">
                    <img src="./images/icon-friends.svg" height="35" alt="Ajouter des amis">
                </a>
            </li>
            <li class="nav-item">
                <a href="/user" class="nav-link p-0">
                    <img src="{{user.picture.data.url}}" alt="{{user.name}}" class="nav-user rounded-circle">
                </a>
            </li>
        </ul>
</nav>