<div ng-include src="'partials/nav.html'"></div>

<div class="col-left">
    <div id="map-canvas" style="width:100%; height:100%;"></div>
</div>

<div class="col-right">
    <div class="header">
        <h3>Ajoute ton tips</h3>
    </div>
    <div class="py-5 text-center new-tips">
        <h3 class="text-info text-uppercase mb-4">Choisis ta catégorie</h3>

        <form ng-submit="start_upload()" enctype="multipart/form-data">
            <!--<div class="mb-5">-->
                <!--<img src="./images/categories/experience.png" class="cat-img" ng-click="select_cat('experience')">-->
                <!--<img src="./images/categories/explore.png" class="cat-img" ng-click="select_cat('explore')">-->
                <!--<img src="./images/categories/globe.png" class="cat-img" ng-click="select_cat('globe')">-->
                <!--<img src="./images/categories/sleep.png" class="cat-img" ng-click="select_cat('sleep')">-->
                <!--<img src="./images/categories/taste.png" class="cat-img" ng-click="select_cat('taste')">-->
            <!--</div>-->
            <div class="categories-radio mb-5">
                <label>
                    <input type="radio" name="category" value="experience" checked>
                    <img src="./images/categories/experience.png" class="cat-img">
                </label>
                <label>
                    <input type="radio" name="category" value="explore">
                    <img src="./images/categories/explore.png" class="cat-img">
                </label>
                <label>
                    <input type="radio" name="category" value="globe">
                    <img src="./images/categories/globe.png" class="cat-img">
                </label>
                <label>
                    <input type="radio" name="category" value="sleep">
                    <img src="./images/categories/sleep.png" class="cat-img">
                </label>
                <label>
                    <input type="radio" name="category" value="taste">
                    <img src="./images/categories/taste.png" class="cat-img">
                </label>
            </div>

            <div class="form-group">
                <select class="form-control select2" id="country" ng-model="tipData.country" ng-change="country_focus(tipData.country)">
                    <option value="">Choisir un pays *</option>
                    <option value="argentine">Argentine</option>
                    <option value="france">France</option>
                    <option value="mexique">Mexique</option>
                    <option value="japon">Japon</option>
                    <option value="australie">Australie</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="place" placeholder="Nom du lieu *" ng-model="tipData.name">
                <input type="text" class="form-control" id="place" placeholder="Adresse *" ng-model="tipData.address">
                <input type="file" class="form-control" id="place" placeholder="cover" ngf-select="image.cover = $files">
            </div>

            <div class="form-group">
                <textarea type="text" class="form-control" id="comment" placeholder="Commentaire *" rows="6" ng-model="tipData.text"></textarea>
            </div>

            <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase mt-4">Ajouter</button>
        </form>
    </div>
</div>