<div ng-include src="'partials/nav.html'"></div>

<div class="col-left">
    <div id="map-canvas" style="width:100%; height:100%;"></div>
</div>

<div class="col-right">
    <div class="header">
        <h3>Ajoute ton tips</h3>
    </div>
    <div class="py-5 text-center new-tips">
        <h3 class="text-info text-uppercase mb-4">Choisis ta catégorie</h3>

        <form ng-submit="start_upload()" enctype="multipart/form-data">
            <!--<div class="mb-5">-->
                <!--<img src="./images/categories/experience.png" class="cat-img" ng-click="select_cat('experience')">-->
                <!--<img src="./images/categories/explore.png" class="cat-img" ng-click="select_cat('explore')">-->
                <!--<img src="./images/categories/globe.png" class="cat-img" ng-click="select_cat('globe')">-->
                <!--<img src="./images/categories/sleep.png" class="cat-img" ng-click="select_cat('sleep')">-->
                <!--<img src="./images/categories/taste.png" class="cat-img" ng-click="select_cat('taste')">-->
            <!--</div>-->
            <div class="categories-radio mb-2">
                <label>
                    <input type="radio" name="category" value="experience" ng-model="tipData.category" checked>
                    <img src="./images/categories/experience.png" class="cat-img">
                </label>
                <label>
                    <input type="radio" name="category" value="explore" ng-model="tipData.category">
                    <img src="./images/categories/explore.png" class="cat-img">
                </label>
                <label>
                    <input type="radio" name="category" value="globe" ng-model="tipData.category">
                    <img src="./images/categories/globe.png" class="cat-img">
                </label>
                <label>
                    <input type="radio" name="category" value="sleep" ng-model="tipData.category">
                    <img src="./images/categories/sleep.png" class="cat-img">
                </label>
                <label>
                    <input type="radio" name="category" value="taste" ng-model="tipData.category">
                    <img src="./images/categories/taste.png" class="cat-img">
                </label>
            </div>
            <p class="category-description text-success text-center">
                <span class="experience"><strong>EXPERIENCE</strong> : tips qui concernent les activités sportives, bien-être, dépassement de soi, du stage en centre de yoga, au woofing jusqu'aux excursions</span>
                <span class="explore" style="display: none;"><strong>EXPLORE</strong> : tips qui concernent l'exploration du pays, de la ruelle street art au musée  jusqu'à la petite crique cachée</span>
                <span class="globe" style="display: none;"><strong>GLOBE</strong> : tips qui concernent les infos globales sur le pays, de prise électrique dans un aéroport, à l'unique distributeur sur l'île jusqu'au prix moyen d'une course en taxi</span>
                <span class="sleep" style="display: none;"><strong>SLEEP</strong> : tips qui concernent les lieux où dormir du camping au banc d'aéroport, jusqu'à l'hôtel de luxe</span>
                <span class="taste" style="display: none;"><strong>TASTE</strong> : tips qui concernent les lieux où manger, boire, faire la fête du bar caché au boui-boui, jusqu'au restaurant gastronomique</span>
            </p>

<!--             <div class="form-group">
                <select class="form-control select2" id="country" ng-model="tipData.country" ng-change="country_focus(tipData.country)">
                    <option value="">Choisir un pays *</option>
                    <option value="argentine">Argentine</option>
                    <option value="france">France</option>
                    <option value="mexique">Mexique</option>
                    <option value="japon">Japon</option>
                    <option value="australie">Australie</option>
                </select>
            </div> -->

            <div class="form-group">
                <input type="text" class="form-control" id="place" placeholder="Nom du lieu *" ng-model="tipData.name">
            </div>

            <div class="input-group">
                <input type="text" class="form-control" id="address" placeholder="Adresse (rue, ville, paris) ou coordonnées *" ng-model="tipData.address">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button"><i class="fa fa-map-marker"></i></button>
              </span>
            </div>

            <div class="form-group">
                <input type="file" class="form-control" id="files" placeholder="Cover (1Mo maximum)" ngf-select="image.cover = $files">
            </div>

            <div class="form-group">
                <textarea type="text" class="form-control" id="comment" placeholder="Description *" rows="6" ng-model="tipData.text"></textarea>
            </div>

            <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase mt-4">Ajouter</button>
        </form>
    </div>
</div>