<div ng-include src="'partials/nav.html'"></div>

<div class="col-left bg-map">
    <div ng-include src="'partials/friends.html'"></div>
    <div id="map-canvas" ng-click="close_modals()" style="width:100%; height:100%;"></div>

    <button id="col-switch-off" class="hidden-md-up btn btn-lg btn-primary d-block" type="button">
        <i class="fa fa-user fa-lg mr-2"> </i> Back to user
    </button>
</div>

<a href="/new" class="add-tips"><img src="./images/add-tips.png" alt=""></a>

<div id="colright" class="col-right" ng-click="close_modals()">
    <div class="user-header bg-primary text-center" style="background-image: linear-gradient(rgba(13,5,61,0),rgba(13,5,61,.7),#0d053d ) ,url({{cover_is?cover_is:'images/bgdefault.jpg'}});">
        <a ng-show="!url_id || own_profile" href="/edit/user/{{user_feed.fcb_id}}" class="edit-link"><i class="fa fa-pencil"></i></a>
        <img src="{{user_feed.avatar}}" class="picture rounded-circle">
        <h3 class="text-white">{{user_feed.name}}</h3>
        <p class="infos">
            {{user_feed.profil.description}}<br>
            <a href="http://{{user_feed.profil.web}}" target="_blank" class="gray-light">{{user_feed.profil.web}}</a>
        </p>
        <p class="social-networks">
            <a ng-if="user_feed.profil.facebook" href="{{user_feed.profil.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
            <a ng-if="user_feed.profil.twitter" href="{{user_feed.profil.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
            <a ng-if="user_feed.profil.instagram" href="{{user_feed.profil.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
        </p>
        <a ng-show="url_id || own_profile" href="#" ng-click="follow_profile(user_feed.fcb_id, is_friend)" class="btn btn-outline-white btn-round btn-sm px-4 mb-3">{{is_friend_message}}</a>
        <ul class="user-stats">
            <li><span class="text-success">{{user_feed.friends.length}}</span> Amis</li>
            <li><span class="text-success">{{userTips.length}}</span> Tips</li>
            <li><span class="text-success">{{count_country.length}}</span> Pays</li>
        </ul>
    </div>
    <div class="user-content py-4 px-5">
        <ul class="nav nav-pills nav-fill justify-content-center pb-3" id="filters">
            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="fa fa-user mr-2"></i> Mes tips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-group mr-2"></i> Les tips de mes amis</a>
            </li>
            <li class="nav-item dropdown">
                <select class="form-control select2" id="continent" ng-model="filter_continent">
                    <option value="">Continent</option>
                    <option ng-repeat="con in continents" value="{{con}}">{{con}}</option>
                </select>
            </li>
            <li class="nav-item dropdown">
                <select class="form-control select2" id="category" ng-model="filter_cat">
                    <option value="">Catégorie</option>
                    <option value="experience">Experience</option>
                    <option value="explore">Explore</option>
                    <option value="globe">Globe</option>
                    <option value="sleep">Sleep</option>
                    <option value="taste">Taste</option>
                </select>
            </li>
        </ul>

        <div ng-show="tipson" class="tips-widget text-center mb-5" ng-repeat="item in userTips | filter:{category:filter_cat,continent:filter_continent} | reverse" id="{{item._id}}" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{item.cover}}');" data-id="{{item._id}}" ng-mouseenter="placeHover(item._id, item.lat)" ng-click="show_tips(item._id)">
            <p class="location"><span>{{item.country}}</span>, {{item.city}}</p>
            <a href="#" class="right-action">
                <img src="./images/icon-wishlist-add.png" width="25">
            </a>
            <div class="text-center title">
                <h3 class="d-inline-block mb-3">{{item.name}}</h3><br>
                <img src="./images/pictos/{{item.category}}-V.png" alt="{{item.category}}" width="50px" class="category">
            </div>
            <div class="author">
                <a href="#">
                    <img src="{{user_feed.avatar}}" class="picture rounded-circle mr-2 d-inline-block">
                    Jean Dujardin
                </a>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top">
        <i class="fa fa-chevron-circle-up fa-lg"></i>
    </a>

    <button id="col-switch-on" class="hidden-md-up btn btn-lg btn-primary d-block" type="button">
        <i class="fa fa-map-o fa-lg mr-2"> </i> See map
    </button>
</div>