.map-modal {
  position: absolute;
  background-color: white;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  overflow-y: scroll;
  box-shadow: 6px 6px 0 rgba($black, 0.15);
  padding: 30px;

  .map-modal-header {
    text-align: center;

    .map-modal-title {
      display: inline-block;
      //border-bottom: 1px solid $brand-success;
      padding-bottom: 0.2rem;
    }
  }

  .map-modal-scroll {
    height: 80%;
    overflow-y: scroll;
  }
}

@include media-breakpoint-down(md) {
  .map-modal {
    position: fixed;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    padding: 10px;
  }
}