.tips-widget {
  position: relative;
  height: 450px;
  background-size: cover;
  background-position: center;
  color: $white;

  .background {
    position: absolute;
    background-color: $black;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 1;
    opacity: 0.4;
  }

  p.location {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-size: $font-size-lg;

    span {
      text-transform: uppercase;
    }
  }

  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-size-h1;
    z-index: 2;
    text-transform: uppercase;

    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 0;
      background-color: $brand-success;
      position: absolute;
      bottom: -10px;
      left: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
  }

  &:hover {
    h3:after {
      width: 100%;
    }
  }
}

.new-tips {
  form {
    width: 80%;
    margin: auto;

    .categories-radio {
      label > input {
        visibility: hidden;
        position: absolute;
      }

      label > input + img {
        cursor:pointer;
        width: 50px;
        margin: 0 20px;
        opacity: 0.5;
      }

      label > input:checked + img {
        opacity: 1;
      }
    }
  }
}

.tips-header {
  position: relative;
  height: 450px;
  //background: linear-gradient(rgba($brand-primary, 0), rgba($brand-primary, 0.7), $brand-primary), url($img-url + 'bgdefault.jpg');
  background: url($img-url + 'bgdefault.jpg');
  background-size: cover;
  background-position: center;
  color: white;

  p.location {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-size: $font-size-lg;

    span {
      text-transform: uppercase;
    }
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-size-h1;
    z-index: 2;
    text-transform: uppercase;
  }
}

.tips-info {
  position: relative;
  background-color: white;
  padding: 20px 0 5px;

  .user img {
    width: 35px;
  }

  a {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  .category {
    position: absolute;
    left: 50%;
    width: 80px;
    margin-left: -40px;
    top: 42%;
  }
}