.user-header {
  padding-top: 100px;
  padding-bottom: 15px;
  //background: linear-gradient(rgba($brand-primary, 0), rgba($brand-primary, 0.7), $brand-primary), url($img-url + 'bgdefault.jpg');
  background: url($img-url + 'bgdefault.jpg');
  background-size: cover;
  background-position: center;

  .edit-link {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .picture {
    max-width: 200px;
    margin-bottom: 20px;
  }

  .infos {
    color: lighten($gray-light, 20%);
    margin-bottom: 5px;
  }

  .social-networks {
    a {
      color: white;
      margin-right: 15px;

      &:hover, &:focus {
        color: $brand-info;
        text-decoration: none;
      }
    }
  }

  ul.user-stats {
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      color: $white;
      text-transform: uppercase;

      span {
        font-weight: bold;
        display: block;
        font-size: $h3-font-size;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .user-header {
    padding-top: 20px;
  }
}

.user-content {
  #filters {
    .nav-item {
      > a {
        padding: 1.25rem 1rem;
        color: $pink;

        &.active {
          background-color: $pink;
          color: white;
        }
      }
    }
  }
}

.add-tips {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0px 2px 15px $gray-700;

  img {
    width: 80px;
  }

  &:hover {

    img {
      width: 85px;
    }
  }
}

@include media-breakpoint-down(md) {
 .add-tips {
   img {
     max-width: 50px;
   }

   &:hover {

    img {
      width: 55px;
    }
  }
 }
}

.bg-login {
  background-image: url($img-url + 'tips-bali.jpg');
  background-size: cover;
  background-position: center;
}

.card-login {
  width: 100%;
  background-color: rgba($brand-primary, 0.8);
  color: $white;

  .logo {
    width: 200px;
  }

  form {
    width: 80%;
    margin: auto;
  }
}

.user-edit {
  width: 50%;
  margin: auto;
}