.user-header {
  padding-top: 100px;
  padding-bottom: 15px;
  //background: linear-gradient(rgba($brand-primary, 0), rgba($brand-primary, 0.7), $brand-primary), url($img-url + 'bgdefault.jpg');
  background: url($img-url + 'bgdefault.jpg');
  background-size: cover;
  background-position: center;

  .edit-link {
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .picture {
    max-width: 200px;
    margin-bottom: 20px;
  }

  .infos {
    color: lighten($gray-light, 20%);
    margin-bottom: 5px;
  }

  .social-networks {
    a {
      color: white;
      margin-right: 15px;

      &:hover, &:focus {
        color: $brand-info;
        text-decoration: none;
      }
    }
  }

  ul.user-stats {
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      color: $white;
      text-transform: uppercase;

      span {
        font-weight: bold;
        display: block;
        font-size: $font-size-h3;
      }
    }
  }
}

.user-content {
  #filters {
    .nav-item {
      width: 40%;
      margin: 0 5px;
    }
  }
}

.add-tips {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 10;

  img {
    width: 120px;
  }

  &:hover {

    img {
      width: 125px;
    }
  }
}

@include media-breakpoint-down(md) {
 .add-tips {
   img {
     max-width: 80px;
   }

   &:hover {

    img {
      width: 85px;
    }
  }
 }
}

.bg-login {
  background-image: url($img-url + 'tips-bali.jpg');
  background-size: cover;
  background-position: center;
}

.card-login {
  width: 600px;
  max-width: 100%;
  margin: auto;
  background-color: $brand-primary;
  color: $white;

  .logo {
    width: 200px;
  }

  form {
    width: 80%;
    margin: auto;
  }
}